.App {
  text-align: center;
}

.navbar-icon {
  color: hsl(200, 100%, 50%);
  scale: 1.6;
}

.success-container {
  color: green;
  font-size: 1.5rem;
}

.error-container {
  color: red;
  font-size: 1.5rem;
}

.warning-container {
  color: rgb(189, 189, 13);
  font-size: 1.5rem;
}